src/main/resources/absolutbank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="branches" type="branchesType"/>
    <xs:complexType name="rateType" mixed="true">
        <xs:sequence>
            <xs:element name="buy" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="3.3580"/>
                        <xs:enumeration value="2.2350"/>
                        <xs:enumeration value="2.4970"/>
                        <xs:enumeration value="5.0800"/>
                        <xs:enumeration value="7.0000"/>
                        <xs:enumeration value="5.0000"/>
                        <xs:enumeration value="2.2300"/>
                        <xs:enumeration value="6.5000"/>
                        <xs:enumeration value="2.4880"/>
                        <xs:enumeration value="3.3450"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sell" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="3.3720"/>
                        <xs:enumeration value="2.2390"/>
                        <xs:enumeration value="2.5060"/>
                        <xs:enumeration value="5.8200"/>
                        <xs:enumeration value="9.2000"/>
                        <xs:enumeration value="5.8400"/>
                        <xs:enumeration value="2.2430"/>
                        <xs:enumeration value="9.3000"/>
                        <xs:enumeration value="2.5100"/>
                        <xs:enumeration value="3.3800"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="currency" use="optional"/>
    </xs:complexType>
    <xs:complexType name="branchType">
        <xs:sequence>
            <xs:element type="rateType" name="rate" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="branchesType">
        <xs:sequence>
            <xs:element type="branchType" name="branch" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>